.wrapper{
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 200px;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Forte', cursive;
    font-size: 46px;
}
.list{
    background: rgb(40, 25, 55);
    line-height: 25px;
}
.list li{
   list-style: none;
    display: inline-block;
    text-align: center;

}
.list li a{
   display: inline-block;
    width: 100%;
    text-decoration: none;
    border: 20px solid transparent;
    color: white;

}
.left {
    display: inline-block;
    width: 20%;
}

.right {
    vertical-align: top;
    display: inline-block;
    width: calc(80% - 4px);
}
footer{
    text-align: center;
    background: rgb(123, 105, 135);
    color: white;

}
